<nz-page-header nzTitle="Profiling">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/welcome">Home</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Profiling</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<nz-divider></nz-divider>

<nz-tabset style="margin-top: 8px;" [nzTabPosition]="'left'">
  <nz-tab nzTitle="Summary">
    <ng-template nz-tab>
      <app-basic-simple></app-basic-simple>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Advanced">
    <ng-template nz-tab>
      <app-basic-themes></app-basic-themes>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <ng-template nz-tab>
      <app-basic-loading></app-basic-loading>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <ng-template nz-tab>
      <app-basic-loading></app-basic-loading>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <ng-template nz-tab>
      <app-basic-loading></app-basic-loading>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <ng-template nz-tab>
      <app-basic-loading></app-basic-loading>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <ng-template nz-tab>
      <app-basic-loading></app-basic-loading>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <ng-template nz-tab>
      <app-basic-loading></app-basic-loading>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <ng-template nz-tab>
      <app-basic-loading></app-basic-loading>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <ng-template nz-tab>
      <app-basic-loading></app-basic-loading>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <ng-template nz-tab>
      <app-basic-loading></app-basic-loading>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <ng-template nz-tab>
      <app-basic-loading></app-basic-loading>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <ng-template nz-tab>
      <app-basic-loading></app-basic-loading>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <ng-template nz-tab>
      <app-basic-loading></app-basic-loading>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <ng-template nz-tab>
      <app-basic-loading></app-basic-loading>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <ng-template nz-tab>
      <app-basic-loading></app-basic-loading>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <ng-template nz-tab>
      <app-basic-loading></app-basic-loading>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <ng-template nz-tab>
      <app-basic-loading></app-basic-loading>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <ng-template nz-tab>
      <app-basic-loading></app-basic-loading>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <ng-template nz-tab>
      <app-basic-loading></app-basic-loading>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <ng-template nz-tab>
      <app-basic-loading></app-basic-loading>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <ng-template nz-tab>
      <app-basic-loading></app-basic-loading>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <ng-template nz-tab>
      <app-basic-loading></app-basic-loading>
    </ng-template>
  </nz-tab>
  <nz-tab>
    <ng-template nz-tab>
      <app-basic-loading></app-basic-loading>
    </ng-template>
  </nz-tab>
</nz-tabset>
