# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules
# /datamanagement

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.metals
/.idea
# /.vs
# /.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
api/requirements_old.txt
.vs/devopsdq
.vs/slnx.sqlite
api/app/datamanagement/celery
api/app/downloaded_file.csv
api/app/datamanagement/aws
api/app/datamanagement/data_comparision
api/app/datamanagement/data_lineage
api/app/datamanagement/manageDB
api/app/datamanagement/piicatcher
api/app/datamanagement/s3_buckets
api/app/datamanagement/spark
api/app/datamanagement/static/uploads
api/app/datamanagement/static/data
